<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <table border='1'>
      <form action="/save" method="post">
        <tr>
          <td>파일명</td><td><input type="text" name="subject" value="<%= subject %>" required></td>
        </tr>
        <tr>
          <td>내용</td><td><textarea name="content" id="" cols="50" rows="30"><%= content %></textarea></td>
        </tr>
      </table>
      <button type="submit">저장</button><button type="button" id="goback">돌아가기</button>
    </form>
  </body>
  <script src="/javascripts/goback.js"></script>
</html>
