<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/edit">새 파일</a>
    <div>파일명</div>
      <ul>
        <% rows.forEach(function(element){%>
          <li>
            <a href="/edit/<%= element %>"><%= element %></a>
          </li>
          <% }) %>
      </ul>
  </body>
</html>
